global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in groups['node1'] %}
        - '{{ host }}:9100'
{% endfor %}

  - job_name: 'mysqld_exporter'
    static_configs:
      - targets:
{% for host in groups['node1'] %}
        - '{{ host }}:9104'
{% endfor %}

  - job_name: 'cadvisor'
    static_configs:
      - targets:
{% for host in groups['node1'] %}
        - '{{ host }}:8080'
{% endfor %}
